body {
    background: #f3a157;
    margin: 0;
}
.dashboard {
    margin: 6% auto auto;
    border-collapse: collapse;
    width: 95%;
    border: 1px solid black
}

.dashboard thead {
    background: #a64e12;
}

.dashboard tbody {
    background: #d99865;
}

.number {
    width: 1%;
}

.hotel-image {
    width: 20%;
}

.hotel-name {
    width: 10%;
}

.hotel-description {
    width: 60%;
}

tr {
    border: 1px solid black;
    border-collapse: separate;
}

.actions {
    font-size: 20px;
}

.actions a {
    color: black;
    margin: 10px;
}

.actions a:hover {
    color: cadetblue;
}

td img {
    width: 40%;
}

td img:hover {
    width: 100%;
}